@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,300;1,500&display=swap");

table {
  border-collapse: collapse;
  border: 2px solid black;
  margin: 50px auto;
  width: 100%;
  height: 60px;
  padding: 20px;
  text-align: left;
  font-family: Barlow;
  font-size: 20px;
  border: 2px solid black;
}

td,
th {
  padding: 20px;
  text-align: left;
  font-family: "Barlow", sans-serif;
  border: 2px solid black;
}

.bold {
  font-weight: bold;
}

.color-1 {
  color: white;
  background: orange;
}
.color-2 {
  color: white;
  background: blue;
}
.color-3 {
  color: white;
  background: green;
}
