@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');

table {
    background: blue;
    border-collapse: collapse;
    border: 3px solid rgb(255, 187, 0);
    width: 100%;
    
}

.name{
    padding: 30px;
    font-size: 20px;
    font-family: Raleway;
    font-weight: bold;
    background: rgb(255, 187, 0);
    text-align: center;
    color: black;
}



tr,
td {
    
    padding: 30px;
    text-align: left;
    font-family: Raleway;
    font-weight: bold;
    border: 3px solid rgb(255, 187, 0);
    color: white;
}





